<html class="theme-light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex, nofollow">

  <title> <%= response.error %> </title>
  <style type="text/css">
    <%=stylingRaw %>
  </style>
</head>

<script type="module">
  import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js'

  new Vue({
    el: '#app',
    data: {
      isSolutionVisible: false,
      isLoading: true
    },
    mounted() {
      document.getElementById('overlay').style.visibility = "hidden";
    },
    methods: {
      handleSolutionBarVisibility: function () {
        this.isSolutionVisible ^= true;
      }
    },
    watch: {
    },
    computed: {
    },
  })
</script>

<body class="scrollbar-lg">

  <div id="app" v-cloak><svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <div id="overlay" class="custom-overlay"> </div>
      <symbol id="arrow-down-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z">
        </path>
      </symbol>
      <symbol id="arrow-up-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z">
        </path>
      </symbol>
      <symbol id="clipboard-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm144 418c0 3.3-2.7 6-6 6H54c-3.3 0-6-2.7-6-6V118c0-3.3 2.7-6 6-6h42v36c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12v-36h42c3.3 0 6 2.7 6 6z">
        </path>
      </symbol>
      <symbol id="lightbulb-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
        <path
          d="M176 80c-52.94 0-96 43.06-96 96 0 8.84 7.16 16 16 16s16-7.16 16-16c0-35.3 28.72-64 64-64 8.84 0 16-7.16 16-16s-7.16-16-16-16zM96.06 459.17c0 3.15.93 6.22 2.68 8.84l24.51 36.84c2.97 4.46 7.97 7.14 13.32 7.14h78.85c5.36 0 10.36-2.68 13.32-7.14l24.51-36.84c1.74-2.62 2.67-5.7 2.68-8.84l.05-43.18H96.02l.04 43.18zM176 0C73.72 0 0 82.97 0 176c0 44.37 16.45 84.85 43.56 115.78 16.64 18.99 42.74 58.8 52.42 92.16v.06h48v-.12c-.01-4.77-.72-9.51-2.15-14.07-5.59-17.81-22.82-64.77-62.17-109.67-20.54-23.43-31.52-53.15-31.61-84.14-.2-73.64 59.67-128 127.95-128 70.58 0 128 57.42 128 128 0 30.97-11.24 60.85-31.65 84.14-39.11 44.61-56.42 91.47-62.1 109.46a47.507 47.507 0 0 0-2.22 14.3v.1h48v-.05c9.68-33.37 35.78-73.18 52.42-92.16C335.55 260.85 352 220.37 352 176 352 78.8 273.2 0 176 0z">
        </path>
      </symbol>
      <symbol id="pencil-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z">
        </path>
      </symbol>
      <symbol id="plus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z">
        </path>
      </symbol>
      <symbol id="share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z">
        </path>
      </symbol>
    </svg>
    <div>
      <div class="layout-col z-10">
        <div class="mt-12 card card-has-header card-no-props">
          <div class="card-header">
            <div class="grid items-center rounded-t border-b border-tint-300 text-xs text-tint-600  "
              style="grid-template-columns: 1fr 1fr;">
              <div class="grid cols-auto justify-start gap-2 px-4 py-2">
                <div class="flex items-center"><a href="http://flareapp.io/docs/ignition-for-laravel/introduction"
                    target="_blank" title="Ignition docs"><svg viewBox="0 0 428 988" class="w-4 h-5 mr-4">
                      <polygon points="428,247.1 428,494.1 214,617.5 214,369.3    " style="fill: rgb(250, 78, 121);">
                      </polygon>
                      <polygon points="0,988 0,741 214,617.5 214,864.1    " style="fill: rgb(255, 240, 130);"></polygon>
                      <polygon points="214,123.9 214,617.5 0,494.1 0,0    " style="fill: rgb(230, 0, 58);"></polygon>
                      <polygon points="214,864.1 214,617.5 428,741 428,988    " style="fill: rgb(255, 225, 0);">
                      </polygon>
                    </svg></a> <span class="inline-flex justify-start items-baseline"> <%= projectPath %> </div>
              </div>
              <div class="grid cols-auto items-center justify-end gap-4 px-4 py-2">
                <!---->
              </div>
            </div>
          </div>
          <div></div>
          <div class="card-details">
            <div class="card-details-overflow scrollbar p-12 pt-10">
              <div class="text-2xl"><span class="ui-exception-class"><span><%= errorObject.error %>
                    [<%= response.statusCode %>] </span>
                  <!----></span>
                <div class="ui-exception-message">
                  <%= response.message %>
                </div>
              </div>
              <div><a href=<%= baseUrl %> target="_blank" class="ui-url">
                  <%= baseUrl %>
                </a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-col z-1">
        <div v-if="isSolutionVisible">
          <div v-on:click="handleSolutionBarVisibility" class="solution-toggle"><a target="_blank"
              class="link-solution">Hide solutions</a></div>
          <div class="solution">
            <div class="solution-main">
              <div class="solution-background mx-0"><svg x="0px" y="0px" viewBox="0 0 299 452"
                  class="hidden absolute right-0 h-full | md:block">
                  <g style="opacity: 0.075;">
                    <polygon points="298.1,451.9 150.9,451.9 21,226.9 298.1,227.1" style="fill: rgb(63, 63, 63);">
                    </polygon>
                    <polygon points="298.1,227.1 21,226.9 150.9,1.9 298.1,1.9" style="fill: rgb(151, 151, 151);">
                    </polygon>
                  </g>
                </svg></div>
              <div class="p-12">
                <div class="solution-content ml-0">
                  <h2 class="solution-title"> <%= errorObject.info %> </h2>
                  <div>
                    <%= errorSolution %>
                  </div>
                  <!---->
                  <div class="mt-8 grid justify-start">
                    <div class="border-t-2 border-gray-700 opacity-25 "></div>
                    <div class="pt-2 grid cols-auto-1fr gapx-4 gapy-2 text-sm"><label
                        class="font-semibold uppercase tracking-wider">Read more</label>
                      <ul>
                        <li><a href="#" target="_blank" class="link-solution">Reference Link</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div v-on:click="handleSolutionBarVisibility" class="solution-toggle solution-toggle-show"><a target="_blank"
              class="link-solution">Show solutions</a></div>
          <div class="solution solution-hidden">
            <div class="solution-main">
              <div class="solution-background mx-0"><svg x="0px" y="0px" viewBox="0 0 299 452"
                  class="hidden absolute right-0 h-full | md:block">
                  <g style="opacity: 0.075;">
                    <polygon points="298.1,451.9 150.9,451.9 21,226.9 298.1,227.1" style="fill: rgb(63, 63, 63);">
                    </polygon>
                    <polygon points="298.1,227.1 21,226.9 150.9,1.9 298.1,1.9" style="fill: rgb(151, 151, 151);">
                    </polygon>
                  </g>
                </svg></div>
              <div class="p-12">
                <div class="solution-content ml-0">
                  <h2 class="solution-title">Database name seems incorrect</h2>
                  <div>
                    <p>You're using the default database name <code>laravel</code>. This database does not exist.</p>
                    <p>Edit the <code>.env</code> file and use the correct database name in the <code>DB_DATABASE</code>
                      key.</p>
                  </div>
                  <!---->
                  <div class="mt-8 grid justify-start">
                    <div class="border-t-2 border-gray-700 opacity-25 "></div>
                    <div class="pt-2 grid cols-auto-1fr gapx-4 gapy-2 text-sm"><label
                        class="font-semibold uppercase tracking-wider">Read more</label>
                      <ul>
                        <li><a href="https://laravel.com/docs/master/database#configuration" target="_blank"
                            class="link-solution">Database: Getting Started docs</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute left-0 bottom-0 w-full h-8 mb-2 px-4 text-sm z-10">
          <ul class="grid cols-auto place-center gap-1">
            <li><a class="grid place-center h-8 min-w-8 px-2 rounded-full bg-tint-200 font-semibold">
                1
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="layout-col mt-12">
      <div class="tabs">
        <nav class="tab-nav">
          <ul class="tab-bar">
            <li><button class="tab tab-active">
                Stack trace
              </button></li>
          </ul>
          <div class="tab-delimiter"></div>
          <ul class="tab-bar">
            <li><button class="tab tab-active">
                Share
              </button></li>
          </ul>
        </nav>
        <div class="tab-main">
          <div class="stack" selected-frame-number="45">
            <div class="stack-nav">
              <div class="stack-nav-actions">
              </div>
              <div class="stack-frames">
                <ol class="stack-frames-scroll scrollbar">

                  <% for(const index in errorStack) {%>
					<li>
						<ul class="stack-frame-group stack-frame-group-vendor">
						<!-- stack-frame-selected --><li class="stack-frame | cursor-pointer stack-frame">
							<div class="stack-frame-number"><%= [index] %></div>
							<div class="stack-frame-text">
							<header class="stack-frame-header mb-1"><span
								class="inline-flex justify-start items-baseline stack-frame-path"><span
									class="ui-path text-gray-800">
									<%= errorStack[index].fileName %>
								</span>
								</span></header> <span class="stack-frame-exception-class"><span
								class="ui-exception-class stack-frame-exception-class"><span
									class="opacity-75"><%= errorStack[index].functionName %><wbr></span>
									</span></span>
							</div>
							<div class="stack-frame-line"><span class="ui-line-number">
								:<span class="font-mono"><%= errorStack[index].lineNumber %></span></span></div>
						</li>
						</ul>
					</li>
				  <% } %>

                </ol>
              </div>
            </div>
            <div class="stack-main">
              <div class="stack-main-header">
                <div class="grid cols-auto gap-2 justify-start items-center"><span class="ui-exception-class"><span
                      class="opacity-75">Illuminate\<wbr></span><span
                        class="opacity-75">View\<wbr></span><span>FileViewFinder<wbr></span><span
                            class="opacity-75">::findInPaths</span></span></div> <span
                  class="inline-flex justify-start items-baseline mt-1"><span
                    class="ui-path"><span>vendor/<wbr></span><span>laravel/<wbr></span><span>framework/<wbr></span><span>src/<wbr></span><span>Illuminate/<wbr></span><span>View/<wbr></span><span
                                  class="font-semibold">FileViewFinder</span><span
                                  class="">.php</span><span>:137</span></span> <a
                                href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=137"
                                class="ml-2 inline-block text-sm text-purple-400 hover:text-purple-500"><svg
                                  class="icon">
                                  <use xlink:href="#pencil-icon"></use>
                                </svg></a></span>
              </div>
              <div class="stack-main-content">
                <div class="stack-viewer scrollbar">
                  <div class="stack-ruler">
                    <div class="stack-lines">
                      <p class="stack-line cursor-pointer">
                        122
                      </p>
                      <p class="stack-line cursor-pointer">
                        123
                      </p>
                      <p class="stack-line cursor-pointer">
                        124
                      </p>
                      <p class="stack-line cursor-pointer">
                        125
                      </p>
                      <p class="stack-line cursor-pointer">
                        126
                      </p>
                      <p class="stack-line cursor-pointer">
                        127
                      </p>
                      <p class="stack-line cursor-pointer">
                        128
                      </p>
                      <p class="stack-line cursor-pointer">
                        129
                      </p>
                      <p class="stack-line cursor-pointer">
                        130
                      </p>
                      <p class="stack-line cursor-pointer">
                        131
                      </p>
                      <p class="stack-line cursor-pointer">
                        132
                      </p>
                      <p class="stack-line cursor-pointer">
                        133
                      </p>
                      <p class="stack-line cursor-pointer">
                        134
                      </p>
                      <p class="stack-line cursor-pointer">
                        135
                      </p>
                      <p class="stack-line cursor-pointer">
                        136
                      </p>
                      <p class="stack-line cursor-pointer stack-line-highlight">
                        137
                      </p>
                      <p class="stack-line cursor-pointer">
                        138
                      </p>
                      <p class="stack-line cursor-pointer">
                        139
                      </p>
                      <p class="stack-line cursor-pointer">
                        140
                      </p>
                      <p class="stack-line cursor-pointer">
                        141
                      </p>
                      <p class="stack-line cursor-pointer">
                        142
                      </p>
                      <p class="stack-line cursor-pointer">
                        143
                      </p>
                      <p class="stack-line cursor-pointer">
                        144
                      </p>
                      <p class="stack-line cursor-pointer">
                        145
                      </p>
                      <p class="stack-line cursor-pointer">
                        146
                      </p>
                      <p class="stack-line cursor-pointer">
                        147
                      </p>
                      <p class="stack-line cursor-pointer">
                        148
                      </p>
                      <p class="stack-line cursor-pointer">
                        149
                      </p>
                      <p class="stack-line cursor-pointer">
                        150
                      </p>
                      <p class="stack-line cursor-pointer">
                        151
                      </p>
                      <p class="stack-line cursor-pointer">
                        152
                      </p>
                    </div>
                  </div>
                  <pre class="stack-code light"><p class="stack-code-line"><span>     * @param  <span class="hljs-keyword">array</span>  $paths</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=122" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>     * @<span class="hljs-keyword">return</span> string</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=123" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>     *</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=124" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>     * @throws \InvalidArgumentException</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=125" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>     */</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=126" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>    <span class="hljs-keyword">protected</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">findInPaths</span><span class="hljs-params">($name, $paths)</span></span></span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=127" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span><span class="hljs-function">    </span>{</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=128" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>        <span class="hljs-keyword">foreach</span> ((<span class="hljs-keyword">array</span>) $paths <span class="hljs-keyword">as</span> $path) {</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=129" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>            <span class="hljs-keyword">foreach</span> (<span class="hljs-keyword">$this</span>-&gt;getPossibleViewFiles($name) <span class="hljs-keyword">as</span> $file) {</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=130" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>                <span class="hljs-keyword">if</span> (<span class="hljs-keyword">$this</span>-&gt;files-&gt;exists($viewPath = $path.<span class="hljs-string">'/'</span>.$file)) {</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=131" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>                    <span class="hljs-keyword">return</span> $viewPath;</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=132" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>                }</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=133" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>            }</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=134" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>        }</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=135" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>&nbsp;</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=136" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line stack-code-line-highlight"><span>        <span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> InvalidArgumentException(<span class="hljs-string">"View [{$name}] not found."</span>);</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=137" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>    }</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=138" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>&nbsp;</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=139" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>    <span class="hljs-comment">/**</span></span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=140" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span><span class="hljs-comment">     * Get an array of possible view files.</span></span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=141" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span><span class="hljs-comment">     *</span></span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=142" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span><span class="hljs-comment">     * <span class="hljs-doctag">@param</span>  string  $name</span></span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=143" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span><span class="hljs-comment">     * <span class="hljs-doctag">@return</span> array</span></span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=144" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span><span class="hljs-comment">     */</span></span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=145" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>    <span class="hljs-keyword">protected</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getPossibleViewFiles</span><span class="hljs-params">($name)</span></span></span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=146" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span><span class="hljs-function">    </span>{</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=147" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>        <span class="hljs-keyword">return</span> array_map(<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">($extension)</span> <span class="hljs-title">use</span> <span class="hljs-params">($name)</span> </span>{</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=148" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>            <span class="hljs-keyword">return</span> str_replace(<span class="hljs-string">'.'</span>, <span class="hljs-string">'/'</span>, $name).<span class="hljs-string">'.'</span>.$extension;</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=149" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>        }, <span class="hljs-keyword">$this</span>-&gt;extensions);</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=150" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>    }</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=151" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p><p class="stack-code-line"><span>&nbsp;</span><a href="phpstorm://open?file=%2FUsers%2Fnimda%2FDevspace%2Fblog%2Fvendor%2Flaravel%2Fframework%2Fsrc%2FIlluminate%2FView%2FFileViewFinder.php&amp;line=152" class="editor-link"><svg class="icon"><use xlink:href="#pencil-icon"></use></svg></a></p>
            </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
